<!DOCTYPE html>
<html>
  <head>
    <title>Trello Minus - Sails App</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/styles.css">

    <script src="/js/jquery-2.1.1.min.js"></script>
    <link rel="stylesheet" href="/styles/jquery-ui.min.css" />
    <script src="/js/jquery-ui.min.js"></script>

  </head>

  <body>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/"> Trello Minus </a>
          </div>
          <% if(typeof req.session.user !== 'undefined') { %>
              <div class="btn-group pull-right" role="group" aria-label="..." style="margin-top: 6px">
                <a href="/user/<%= req.session.user.name %>" class="btn btn-default"><%= req.session.user.name %></a>
                <div class="btn-group">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Actions</span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="/user/<%=req.session.user.name%>/cards"><span class="glyphicon glyphicon glyphicon-tasks"></span> Assigned cards</a></li>
                  </ul>
                </div>
                <div class="btn-group">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    Organizations
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a id="add-organization-button" href="#"><span class="glyphicon glyphicon-plus"></span> Add Organization...</a></li>
                    <li><a id="invite-member-button" href="#"><span class="glyphicon glyphicon-user"></span> Invite Member</a></li>
                  </ul>
                </div>
                <a href="/signout" class="btn btn-danger">Sign out</a>
              </div>
          <% } else {%>
            <div class="btn-group pull-right" role="group" aria-label="..." style="margin-top: 6px">
              <a href="/signin" class="btn btn-primary">Sign in</a>
              <button class="btn btn-default disabled">OR</button>
              <a href="/signup" class="btn btn-success">Sign up</a>
            </div>
          <% } %>

        </div>
    </nav>
    <div class="col-lg-1"></div>
    <div id="body" class="col-lg-10">
        <% if(typeof req.session.user !== 'undefined') { %>
          <%- partial("partials/invite_member.ejs") %>
          <%- partial("partials/add_organization.ejs") %>
        <%}%>
        <%- body %>
    </div>


    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/essentials.js"></script>
  </body>
</html>
