Hello <%= user.name %><br/>

<ul>Your boards:
  <% for(var i= 0, l= boards.length; i < l; i++) {%>
    <li>
      <a href="<%= boards[i].url %>">
        <div><%= boards[i].title %></div>
      </a>
    </li>
  <%}%>
    <li>
      <div id="add-new-board">
        <span>Add new board</span>
        <span hidden>
          <form id="addBoardForm" method=POST action="#">
            <label for="title">New board title:</label><input id="title" type="text" name="title" />
            <label for="type">Type:</label>
            <select id="type" name="type">
              <% _.each(BoardHelper.TYPES,function(type) { %>
                <option value="<%= type %>"><%=: type | capitalize %></option>
              <% }); %>
            </select>
            <input type="submit" value="Add" />
          </form>
          <button id="hide-add-button-form">X</button>
        </span>
      </div>
    </li>
</ul>

<script type="text/javascript">
  var formElement = document.querySelector("#addBoardForm");
  var addBoardDivElement = document.querySelector("#add-new-board");
  var hideFormElement = document.querySelector("#hide-add-button-form");

  function toggleVisibilityAddBoardForm(e){
    addBoardDivElement.children[0].hidden = !addBoardDivElement.children[0].hidden;
    addBoardDivElement.children[1].hidden = !addBoardDivElement.children[1].hidden;
    addBoardDivElement.onclick = addBoardDivElement.onclick === null ? toggleVisibilityAddBoardForm : null;
    e.stopPropagation();
  }

  function addBoardSubmit() {
    io.socket.post(
      '/board/add',
      {title:this.title.value,
      type: this.type.value},
      function(res,jres){
        if(res.message) {
          alert(res.message);
        }
        if(jres.statusCode === 200) {
          window.location = window.location;
        }
      });
    return false;
  }


  formElement.onsubmit = addBoardSubmit;
  addBoardDivElement.onclick = toggleVisibilityAddBoardForm;
  hideFormElement.onclick = toggleVisibilityAddBoardForm;
</script>
