<%- partial("partials/add_board.ejs") %>

<% if(starred.length !== 0){ %>
  <h3>Your Favourite Boards:</h3>
  <ul class="boards-list">
    <% for(var i= 0, l= starred.length; i < l; i++) {%>
    <li class="bg-primary clearfix">
      <button class="btn btn-primary btn-xs" data-hash="<%= starred[i].url %>" onclick="toggleStareBoard(this)"><span class="glyphicon glyphicon-star"></span></button>
      <a href="<%= starred[i].url %>">
        <div><%= starred[i].title %></div>
      </a>
    </li>
    <%}%>
  </ul>
<% } %>

<h3>Your boards:</h3>

<ul class="boards-list">
  <% for(var i= 0, l= boards.length; i < l; i++) {%>
    <li class="bg-primary clearfix">
      <button class="btn btn-primary btn-xs" data-hash="<%= boards[i].url %>" onclick="toggleStareBoard(this)"><span class="glyphicon glyphicon-star-empty"></span></button>
      <a href="<%= boards[i].url %>">
        <div><%= boards[i].title %></div>
      </a>
    </li>
  <%}%>
    <li class="bg-info" id="add-new-board-tile">
      <a onclick="toggleVisibilityAddBoardForm()">
        <div>Add new board</div>
      </a>
    </li>
</ul>

<script type="text/javascript">
  var formElement = document.querySelector("#addBoardForm");
  var addBoardDivElement = document.querySelector("#add-new-board");
  var hideFormElement = document.querySelector("#hide-add-button-form");

  function toggleVisibilityAddBoardForm(){
    addBoardDivElement.hidden = !addBoardDivElement.hidden;
  }

  function addBoardSubmit() {
    io.socket.post(
      '/board/add',
      {title:this.title.value,
      type: this.type.value},
      function(res,jres){
        if(res.message) {
          alert(res.message);
        }
        if(jres.statusCode === 200) {
          window.location = window.location;
        }
      });
    return false;
  }


  formElement.onsubmit = addBoardSubmit;
  hideFormElement.onclick = toggleVisibilityAddBoardForm;

</script>
